@model WebApplicationML3.Models.HotelBooking

@{
    ViewData["Title"] = "Predict";
}

<h1>Predict Hotel Booking</h1>

<div>
    <div class="row">
        <h4>HotelBooking</h4>
    </div>

    <div class="col-md-4">
        <form asp-action="Predict">
            <div class="form-group">
                <label asp-for="HotelBookingData.Lead_time" class="control-label"></label>
                <input asp-for="HotelBookingData.Lead_time" class="form-control" />
                <span asp-validation-for="HotelBookingData.Lead_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelBookingData.Arrival_date_month" class="control-label"></label>
                <input asp-for="HotelBookingData.Arrival_date_month" class="form-control" />
                <span asp-validation-for="HotelBookingData.Arrival_date_month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelBookingData.Arrival_date_day_of_month" class="control-label"></label>
                <input asp-for="HotelBookingData.Arrival_date_day_of_month" class="form-control" />
                <span asp-validation-for="HotelBookingData.Arrival_date_day_of_month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelBookingData.Stays_in_weekend_nights" class="control-label"></label>
                <input asp-for="HotelBookingData.Stays_in_weekend_nights" class="form-control" />
                <span asp-validation-for="HotelBookingData.Stays_in_weekend_nights" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelBookingData.Stays_in_week_nights" class="control-label"></label>
                <input asp-for="HotelBookingData.Stays_in_week_nights" class="form-control" />
                <span asp-validation-for="HotelBookingData.Stays_in_week_nights" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelBookingData.Adults" class="control-label"></label>
                <input asp-for="HotelBookingData.Adults" class="form-control" />
                <span asp-validation-for="HotelBookingData.Adults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelBookingData.Children" class="control-label"></label>
                <input asp-for="HotelBookingData.Children" class="form-control" />
                <span asp-validation-for="HotelBookingData.Children" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelBookingData.Reserved_room_type" class="control-label"></label>
                <input asp-for="HotelBookingData.Reserved_room_type" class="form-control" />
                <span asp-validation-for="HotelBookingData.Reserved_room_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Predecir" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="row">
        <h4>Prediccion</h4>
    </div>
    <div class="form-group">
        <label asp-for="HotelBookingRate.Score" class="control-label"></label>
        <input asp-for="HotelBookingRate.Score" class="form-control" readonly="readonly" />
    </div>
</div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
